#content{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color:darkblue;s
}
header,footer{
    background-color: darkcyan;
    margin: 40px 0;
}

#produtos {

}